
    color: rgb(181, 148, 105);
    text-align: center;
h2:
    color:rgb(97, 110, 227);
    text-decoration-line:underline;
    text-align:left;
    background-color: rgb(233, 255, 176);
h3:
    color: blueviolet;
    text-align: ;
    background-color: antiquewhite;
p{
    text-align: center;
}
}